<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список полисов</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">

</head>
<body>

<div th:replace="~{menu :: navigation}"></div>

<div class="container pt-3 pb-5">
    <h2>Список полисов</h2>

    <p class="pt-2 pb-2"><a class="link-dark" th:href="@{/policy/create}">Добавить новый</a></p>

    <table class="table">
        <thead>
        <tr>
            <td>Вид страхования</td>
            <td>Страховая сумма</td>
            <td>Страховая премия</td>
            <td>Дата заключения</td>
            <td>Дата окончания действия</td>
            <td>Страхователь</td>
            <td>Автомобиль</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="policy : ${policies}">
            <td th:text="${policy.insuranceType}"/>
            <td th:text="${policy.insurancePremium}"/>
            <td th:text="${policy.insuranceAmount}"/>
            <td th:text="${#temporals.format(policy.dateOfConclusion, 'dd.MM.yyyy')}"/>
            <td th:text="${#temporals.format(policy.expirationDate, 'dd.MM.yyyy')}"/>
            <td th:text="${policy.policyholderFullName}"/>
            <td th:text="${policy.carModel}"/>
            <td>
                <a class="btn btn btn-outline-info"
                   th:href="@{'/policy/details/' + ${policy.id}}">Подробнее</a>
            </td>
            <td>
                <a class="btn btn-outline-secondary" th:href="@{'/policy/edit/' + ${policy.id}}">Изменить</a>
            </td>
            <td>
                <a class="btn btn-outline-danger" th:href="@{'/policy/delete/' + ${policy.id}}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>